.crud {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table td {
  width: 200px;
  height: 30px;
  background-color: rgb(54, 135, 211);
  text-align: center;
  color: white;
}

.btn {
  border-radius: 5px;
  cursor: pointer;
}

input {
  height: 20px;
}
form {
  margin-bottom: 20px;
}

button {
  border: 1px solid green;
  background-color: rgb(7, 168, 7);
  color: white;
  height: 26px;
  padding: 3px;
  width: 50px;
  cursor: pointer;
}
.edit {
  border: 1px solid green;
  background-color: rgb(7, 168, 7);
  color: white;
}
.edit:hover {
  background-color: 3, 71, 3;
}
.del {
  border: 1px solid red;
  background-color: rgb(219, 19, 19);
  color: white;
}
.del:hover {
  background-color: rgb(92, 5, 5);
}
